<h1>My first Ruby on Rails app :)</h1>
<p>Author Name: Alanoud Aljboor</p>
<p>Computer Engineer</p>
<p>JUST 2014</p>
<p>Creation Date:Dec-20-2014</p>
<h1>Hope you'll Enjoy it , please don't be affraid to share any ideas you have.</h1>
<%= link_to 'Share your ideas', new_idea_path %>
